.col.s4.qw-onair-widget .last-ten-tracks .row .col.s10 {
    text-align: right;
}

.col.s4.qw-onair-widget .last-ten-tracks .row .dropdown-content {
    width: 187px;
    position: absolute;
    right: 100px;
    opacity: 1;
}
