.qw-radio-name.radiomarquee.marquee .js-marquee-wrapper {
    width: 100000px;
    margin-left: 180px;
    animation: 24.0667s linear 0s 1 normal none running marqueeAnimation-394451;
}

.qw-radio-name.radiomarquee.marquee .js-marquee-wrapper .js-marquee{
    margin-right: 200px;
    float: left;
}

#input-volume-control-id {
    display: block;
    height: 46px;
    border: none;
    margin: 0;
    z-index: 1000;
    color: #0f9d58;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-ms-ticks-after {
    content: "";
    width: 0px;
    height: 0px;
    background-color: transparent;
    z-index: 1000;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: transparent;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 10px;
    height: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}
